body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#root {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: auto 1fr auto;
}

.bg-blur {
  backdrop-filter: blur(0.5rem);
}

nav > div > span {
  height: 10vh;
}

.navbar-nav {
  gap: 2rem;
}

main {
  margin-top: 10vh;
}

footer {
  place-items: center;
}

.carousel-item {
  height: 50vh;
  overflow: hidden;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

.show {
  height: 80vh;
  display: grid;
  place-items: center;
}
